In [1]:
!docker run --name my-postgres -e POSTGRES_PASSWORD=mysecretpassword -p 15432:5432 -d postgres:13

b08a402683a29b05756a3ceaeb6c03a1411adc7d55b31c084c04c42338e7a672

In [1]:
# docker postgre 실행
!docker run --name my-postgres -e POSTGRES_PASSWORD=0000-p 15432:5432 -d postgres:13

Unable to find image '15432:5432' locally
docker: Error response from daemon: pull access denied for 15432, repository does not exist or may require 'docker login'

Run 'docker run --help' for more information

In [3]:
!pip install sqlalchemy
!pip install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.41-cp313-cp313-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.2-cp313-cp313-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from sqlalchemy) (4.13.2)
Downloading sqlalchemy-2.0.41-cp313-cp313-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 19.9 MB/s eta 0:00:00
Downloading greenlet-3.2.2-cp313-cp313-win_amd64.whl (296 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.2.2 sqlalchemy-2.0.41

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: C:\Users\Admin\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [6]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:0000@localhost:15432/postgres')

In [7]:

cursor = engine.connect()

In [27]:
import pandas as pd
users = pd.read_sql_table('users', engine)
users.set_index('user_id', inplace=True) # index 반영
users.head()

        registration_date user_type     city      country
user_id
1              2022-01-05   REGULAR    Seoul  South Korea
2              2022-02-15   PREMIUM    Busan  South Korea
3              2022-03-22   REGULAR  Incheon  South Korea
4              2022-01-30   PREMIUM    Daegu  South Korea
5              2022-04-10   REGULAR  Gwangju  South Korea

In [28]:
# 1번 사용자별 총 주문 금액 계산
# user, orders 테이블 생성 및 조인
orders = pd.read_sql_table('orders', engine)

# user, orders 테이블 조인하고 사용자별 총 주문 금액 계산
# user_orders = pd.merge(users, orders, on='user_id', how='left')
user_orders = orders.join(users, on='user_id', how='left')
user_orders.head()

,order_id,user_id,order_date,total_amount,payment_method,order_status,registration_date,user_type,city,country
0,10001,1,2023-01-05 14:32:15,968000.0,신용카드,배송완료,2022-01-05,REGULAR,Seoul,South Korea
1,10002,3,2023-01-07 10:15:22,199000.0,계좌이체,배송완료,2022-03-22,REGULAR,Incheon,South Korea
2,10003,5,2023-01-10 16:45:33,129000.0,신용카드,배송완료,2022-04-10,REGULAR,Gwangju,South Korea
3,10004,2,2023-01-15 09:22:18,1299000.0,신용카드,배송완료,2022-02-15,PREMIUM,Busan,South Korea
4,10005,7,2023-01-18 11:33:45,108000.0,간편결제,배송완료,2022-06-22,REGULAR,Daejeon,South Korea

In [14]:
# user_id별 total_amount 합계 계산
user_total_amount = user_orders.groupby('user_id')['total_amount'].sum()
user_total_amount

user_id
1     5593000.0
2     9452000.0
3     2532000.0
4     1301000.0
5     1553000.0
6     4834000.0
7      773000.0
8      533000.0
9     6443000.0
10    5374000.0
11    2220000.0
12    3531000.0
13    1573000.0
14     843000.0
15     306000.0
16     217000.0
17    1277000.0
18    3697000.0
19    1437000.0
20     375000.0
21     657000.0
22    1077000.0
23     288000.0
24     907000.0
25     968000.0
26    2297000.0
27    1177000.0
28     774000.0
29     437000.0
30     447000.0
Name: total_amount, dtype: float64

In [ ]:
# 2번 카테고리별 제품 판매량 및 매출액 분석
# category, product, order_items 테이블 조인
categories = pd.read_sql_table('categories', engine)
products = pd.read_sql_table('products', engine)
order_items = pd.read_sql_table('order_items', engine)

# category, product, order_items 테이블 조인
cate_pros = pd.merge(categories, products, on='category_id', how='left')
cate_pros_order = pd.merge(cate_pros, order_items, on='product_id', how='left')
cate_pros_order.head()

,category_id,category_name,parent_category_id,product_id,product_name,price,stock_quantity,added_date,supplier_id,order_item_id,order_id,quantity,price_per_unit,discount
0,1,전자제품,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1,2,가전제품,1.0,101.0,프리미엄 4K 스마트 TV 55인치,899000.0,50.0,2023-01-15,4.0,1021.0,10014.0,1.0,899000.0,0.0
2,2,가전제품,1.0,101.0,프리미엄 4K 스마트 TV 55인치,899000.0,50.0,2023-01-15,4.0,1048.0,10036.0,1.0,899000.0,0.0
3,2,가전제품,1.0,101.0,프리미엄 4K 스마트 TV 55인치,899000.0,50.0,2023-01-15,4.0,1084.0,10059.0,1.0,899000.0,0.0
4,2,가전제품,1.0,101.0,프리미엄 4K 스마트 TV 55인치,899000.0,50.0,2023-01-15,4.0,1116.0,10082.0,1.0,899000.0,0.0

In [26]:
# 카테고리별 제품 판매량 및 매출액 계산

# 카테고리별 제품 매출액 계산
cate_pros_order['total_amount'] = cate_pros_order['quantity'] * cate_pros_order['price_per_unit']

total_data = cate_pros_order.groupby('category_name')[['quantity', 'total_amount']].sum()
total_data.rename(columns={'quantity': 'total_quantity'}, inplace=True)

total_data

   category_name  total_quantity  total_amount
0             가구            13.0     5977000.0
1          가방/잡화             0.0           0.0
2           가전제품            25.0    19985000.0
3           건강식품             0.0           0.0
4           남성의류             7.0      903000.0
5           메이크업             0.0           0.0
6        모바일/태블릿            23.0    14507000.0
7          뷰티/건강             0.0           0.0
8           스킨케어            60.0     2460000.0
9         스포츠/레저             0.0           0.0
10          아동의류             0.0           0.0
11          아웃도어             0.0           0.0
12          여성의류            30.0     2950000.0
13          운동용품            43.0      963000.0
14          인테리어             0.0           0.0
15          전자제품             0.0           0.0
16          주방용품            17.0     2083000.0
17          캠핑용품             0.0           0.0
18       컴퓨터/노트북            14.0    13826000.0
19          패션의류             0.0           0.0
20          헤어케어             0.0           0.0
21          홈/리빙             0.0           0.0

In [ ]:
# series가 아니라 pandas에도 apply 가능 - 받는 값이 레코드인데 row axis=1 세로로 순회하도록 지정 - row는 하나의 레코드 한 행으로 지정
# merge_df['net_amount'] = merge_df.apply(lambda row: row['total_amount'] - row['discount'], axis=1)

# merge_df.groupby('category_id').agg(
#     total_amt_cnt = ('quantity', 'sum'),
#     net_amt = ('net_amount', 'sum')
# )